@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.letra {
  color: rgba(255, 105, 180, 0.712);
}

.Titulo {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}
